* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'sans-serif';
}

body {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(156, 9, 9);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #920202);
    display: flex;
    justify-content: center;
    align-items: center;     
    text-align: center;
    color: white;
    padding-top: 80px;
}

.hero img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
}

.section {
    padding: 80px 50px;
    text-align: center;
}

.dark {
    background: #ffffff;
}

.skills {
    max-width: 600px;
    margin: 20px auto;
}

.bar {
    background: #000000;
    height: 10px;
    border-radius: 10px;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.html { width: 55%; background: #eb6104;}
.css { width: 90%; background: #36f80f;}
.js { width: 50%; background: #d11313;}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}